.head
{
    text-align: center;
    font-style: italic;
    margin-top: 5%;
    margin-bottom: 22px;   
}
label
{
    padding: 1cm;
    font-size: 20px;
    color: white;
}
table {
    border-style: solid;   
    padding: .7cm;
    border-radius: 17px;
    font-size: 17px;
    display: grid;
    gap: 22px;
}
.box-contents
{
    font-size: 17px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    background:rgba(0,0,0,.8);
    color: green;
    border-radius: 7px;
    background-image: visible;
    opacity: 100%;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgba(0,0,0,.8);
    padding: 7px 3px 7px 13px;
    margin-top: 7px;
    width: 444px;
}

.box
{
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    background:rgba(0,0,0,.8);
    width:fit-content;
    border-radius: 17px; 
    border-color: rgba(0,0,0,.8);
    margin: auto;
}

.button
{
    border: solid 1px white;
    width: 30%;
    height: 40px;
    color: white;
    background-color:#0097a7;
    font-size: 17px;
    border-radius: 17px;
    margin: 2% 35% 2% 35%;
    scale: 0.9; 
    transition: all 0.5s;  
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.button:hover
{
    cursor: pointer;
    background:#069818 ;
    scale: 1;
}
.id
{
visibility: hidden;
}


@media screen and (max-width:1000px) {
    .button{
        width: 70%;
        margin: 2% 15% 2% 15%;
    }
    table tr {
        display: grid;
        gap: 5px;
        padding: 10px;
    }
    .box-contents{
        width: 350px;
    }

}
