*{
    padding: 0px;
    margin: 0px;
}

.head
{
    font-size:1.2cm;
    text-align: center;
    font-style: italic;
    margin: 22px;  
}
.dashboard
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 22px;
    padding: 28px;

}
.widget 
{
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 17px;
    width: 333px;
    height: 150px;
    color: #ffffff;
    border-radius:17px;
}
.widget-1 
{
    background-color: #1abc9c;
}
.widget-2 
{
    background-color: #2ecc71;
}
.widget-3
{
    background-color: #9b59b6;
}
.widget-4 
{
    background-color: #3498db;
}
.widget-5 
{
    background-color: #d4a627;
    
}

.widget-6 
{
    background-color: #F67280;
}
.widget h3 
{
    font-size: 47px;
    margin: 5mm 0 0 7px;
}
.widget h1 
{
    font-size: 17px;
    line-height: 3;
    color:black; 
    margin-bottom:0;
    font-weight:bolder;
}
