.head
{
    margin-top: 5%;
    text-align: center;
    font-style: italic; 
    margin-bottom: 3%;
}
.box
{
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    background:rgba(0,0,0,.8);
    width:fit-content;
    border-radius: 17px; 
    border-color: rgba(0,0,0,.8);
    margin: auto;
}
table
{
    border-style: solid;   
    padding: 1.2cm;
    border-radius: 17px;
    font-size: 28px;
}
label,span
{
    padding: 1cm;
        font-size: 22px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.box-contents
{
    padding: 1mm 1cm 1mm 1cm;
    font-size: 17px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    background:rgba(0,0,0,.8);
    color: green;
    border-radius: 17px;
    background-image: visible;
    opacity: 100%;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgba(0,0,0,.8);
}
.button
{
    border: solid 1px white;
    width: 20%;
    height: 40px;
    color: white;
    background-color:#0097a7;
    font-size: 17px;
    border-radius: 17px;
    margin: 2% 40% 2% 40%;
    scale: 0.9; 
    transition: all 0.5s;  
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.button:hover
{
    cursor: pointer;
    background:#069818 ;
    scale: 1;
}


@media screen and (max-width:1000px) {
    .head
{
    margin-top: 13%;
    text-align: center;
    font-style: italic; 
    margin-bottom: 7%;
}
    .button{
        width: 60%;
        margin: 4% 20% 2% 20%;
    }
    table {
        padding: 28px;
    }
    table tr {
        display: grid;
        gap: 3px;
        padding-bottom: 22px;
        text-align: center;

    }
}
